.rooms {
    display: flex;
    flex-direction: column;
    color: whitesmoke;

    .header {
        height: 50px;
        padding: 0 10px;
        font-weight: 700;
        background-color: #011c27;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            height: 30px;
            background-color: #042f44;
            outline: none;
            border: none;
            color: whitesmoke;
            border-radius: 3px;

            &:hover:enabled {
                cursor: pointer;
                background-color: #013b52;
            }
        }

        .disabled {
            //background-color: red;
            opacity: 0.5;
        }
    }

    .body {
        flex: 1;
    }
}

.room {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    button {
        height: 25px;
    }
}
