.room-info {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: whitesmoke;

    .header {
        height: 50px;
        padding: 0 10px;
        font-weight: 700;
        background-color: #0e0e10;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        box-shadow: 0px 2px 3px black;

        button {
            position: absolute;
            left: 10px;
            height: 30px;
            background-color: #042f44;
            outline: none;
            border: none;
            color: whitesmoke;
            border-radius: 3px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    .body {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .input {
            height: 40px;
            margin: 20px 20px;
            display: block;

            input {
                height: 100%;
                padding: 0 10px;
                margin: auto;
                outline: none;
                border: none;
                border-radius: 5px;
                color: whitesmoke;
                border: 2px solid #18181b;
                background-color: #3a3a3d;

                &:focus {
                    border-color: #0e0e10;
                }

                &::placeholder {
                    color: grey;
                }
            }

            button {
                color: whitesmoke;
                height: 100%;
                margin: 0 5px;
                background-color: #042f44;
                outline: none;
                border: none;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .controls {
            height: 60px;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;

            &.disabled {
                opacity: 0.1;
                pointer-events: none;
            }

            div {
                padding: 2px;
                margin: 0 2px;

                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                &:hover {
                    opacity: 0.8;
                    cursor: pointer;
                }

                &:active {
                    opacity: 0.9;
                }
            }

            .play {
                position: relative;
                padding: 8px;
                left: 2px;
            }
        }
    }
}
